$black: #252525;
$dark-red: #6a221a;
$primary-red: #c7493a;
$secondary-red: #a33327;
$primary-gold: #eec060;
$dark-brown: #917164;
$light-brown: #ad8174;
$soft-gray: #8883;
$link-visited: white;
$link: $primary-gold;
